mixin square($members, $width, $height, $center)
  ul(class='[ grid x2--md x3--lg gc--2 gr--4 py--5 ]')

    each item, member in $members 

      li(class='[ member ] [ flex--col animated fade-in--up ]')

        if $center === true
          div(class='[ flex--center--middle ] [ o--2 ]')
            
            div(class='[ text--center ]')

              p(class='[ font--600 pb--0 ]')= item.name
              
              small(class='[ block ]')= item.title

        else
          div(class='[ o--2 ]')
            h2(class='[ font--3 ]')= item.name
            
            p(class='[ pb--0 ]')= item.title

              //-   a(class='[ btn btn--white btn--solid--sm ]' href=item.page) Learn More
              //-     span(class='[ hidden ]')= `About ${ item.name }`

              //-   div(class='[ more ] [ o--4 ]')

              //-     a(href=item.page) Learn More
              //-       span(class='[ hidden ]')= `About ${ item.name }`

        figure(class=`[ member__img ] [ ratio--${$width}:${$height} mb--1 o--1 ]`) 
          +img(item.img, item.name)


//- mixin square_mask($members, $width, height, $about)

//-   ul(class='[ grid x2--md x3--lg gc--2 gr--1 ]')

//-     each item, member in $members 

//-       li(class='[ member ] [ flex--col ]')
        
//-         div(class='[ wrapper ]')

//-           div(class='[ member__mask ] [ flex--center--middle ]')
            
//-             div(class='[ text--center ]')

//-               p(class='[ font--500 font--600 pb--0 o--2 ]')= item.name
              
//-               small(class='[ block text--upper pb--0 o--3 ]')= item.title
              
//-               if $about
//-                 a(class='[ btn btn--white btn--solid--sm ]' href=item.page) Learn More
//-                   span(class='[ hidden ]')= `About ${ item.name }`

//-               if $about
//-                 div(class='[ more ] [ o--4 ]')

//-                   a(href=item.page) Learn More
//-                     span(class='[ hidden ]')= `About ${ item.name }`

//-           figure(class=`[ member__img ] [ ratio--${$width}:${$height} o--1 ]`) 
//-             +img(item.img, item.name)

