extends ../../layout/_layout

block var
  - title = 'About Us'
  - description = 'Clever '
  - heading = '3PL. <br> Made simple.'
  //- - subheading = 'At Clever we work with companies - large and small - to find digital solutions that deliver real world success.'
  - pageUrl = ''
  - agency = 'current'
  - crumbs = {'About Us':'last'}
  //- - custom = 'agency'
  - agency = true
  - url = `miami-skyline.jpg`

  - size = 37

block content
  main#main(class='[ main ]')
    
    include ../../partials/_hero


    div(class='[ grid gr--5 pt--5 ]')

      section

        div(class='[ x--wide ]')
          
          div(class='[ lead ][ grid g--2 mb--5 ]')

            div(class='[ lead__heading ]')
              h2(class='[ bar-before ][ flex--col gr--1 ]') XPS is your trusted 3PL partner
            
            p(class='[ lead__content ][ font--3 font--500 ]' ) At XPS Logistics, we're dedicated to making things simple for those looking for 3PL solutions in The Bahamas. No matter what you need — freight forwarding, customs brokerage, warehousing, distribution, or fulfillment — we've got you covered.


          -
            sets = [
              {heading:'Regional', content:'Our reach extends throughout The Bahamas, Caribbean, North, and South America, allowing us to provide reliable logistics solutions tailored to your needs.'},
              {heading:'Data-driven', content:'We\'re committed to leveraging the latest technology, using data and supply chain analysis to optimize our logistics operations and increase efficiency.'},
              {heading:'Growing', content:'We\'re increasing our warehouse capacity, expanding our fleet while investing in onboarding and training our team to meet increasing demands.'},
              {heading:'Reliable', content:'Leveraging over two decades of industry experience in freight-forwarding, warehousing and distribution we have exactly what it takes to deliver results.'},
            ]
          
          ul(class='[ grid md:x2 lg:x4 g--2  ]')
            each set, index in sets
              li
                h3= set.heading 
                p= set.content

      section

        div(class='[ x--wide ]')
        
          h2(class='[ font--1 ]') Keeping it simple with solutions that work

          p(class='[ font--4 ]') We're more than just a logistics provider, we're a strategic partner in simplifying and optimizing your supply chain.

          -
            propositions = [
              {heading:'Growing the network', desc:'We’re one of the largest LTL carriers in North America, and we’re investing in more growth: adding equipment and doors, and training drivers to expand our team.'},
              {heading:'Connecting with you', desc:'Our job is to help you succeed. We understand your business needs and treat your freight like it’s our own.'},
              {heading:'Delivering efficiency', desc:'We’re always working on the next great idea to deliver value for customers with our LTL network technology, web tools and EDI/API integrations.'},
              {heading:'Pushing for excellence', desc:'We communicate constantly with customers to make sure you’re getting the excellent service you deserve.'},

            ]

          ul(class='[ propositions ][ grid md:x2 g--2 ]')

            each prop, index in propositions
              li(class='[ proposition ][ grid ]')
                h3(class='[ o--2 ]')= prop.heading
                p(class='[ o--3 ]')= prop.desc

                +img('','[ ratio--16:9 o--1 mb--1 ]')

      section(class='[ bg:color--black color--white py--5 ]')
        
        div(class='[ x--wide ]')
          
          h2(class='[ font--1 mb--0.5 ]') Driven by our values

          -
            values = [
              {heading:'Put people first', desc:'Putting people first in everything we do, from our customers to our team members. Building lasting relationships is the foundation of our success.'},
              {heading:'Be safe', desc:'We prioritize the safety and well-being of our team. By upholding high standards, we ensure everyone returns home safely, while also delivering our best service to customers.'},
              {heading:'Be responsible', desc:'We speak up when there are opportunities to improve and take ownership of our mistakes because we believe in doing things the right way. Prioritizing accountability and integrity ensures a job well done, fosters trust within our team, and inspires confidence in our customers.'},
              {heading:'Be better', desc:'We believe in giving our best, which is why we\'re forward-thinking and invest in our people, technology, and equipment. Innovation provides us with opportunities to improve performance for our customers and employees alike.'},
              {heading:'Be respectful', desc:'We\'re committed to fostering a culture of honesty and respect, where everyone has a voice. That\'s why we work hard to ensure that our team feels valued and their opinions are heard.'},
              {heading:'Be world-class', desc:'We\'re determined to be #1 in 3PL. Competitive and driven to win, we don\'t settle for less than best— for ourselves or our customers.'},
              //- {value:'', desc:''},
              //- {value:'', desc:''},

            ]

          ul(class='[ grid md:x2 lg:x3 g--2 ]')
            each value, index in values 
              li 
                h3(class='[ bar-before ][ flex--col gr--1 mb--0.5 ]')= value.heading 
                p= value.desc


      section
      
        div(class='[ x--wide ]')

          h2(class='[ font--1 ]') Our Team

          div(class='[ split-sub ][ pb--5 ]')
            p(class='[ font--4 ]') We're a team that prioritizes safety, a customer-focused approach, and operational excellence. That's why our team is comprised of industry professionals with a wealth of experience in operations and technology

          ul(class='[ team ][ grid md:x2 lg:x4 g--2 ]')

            li(class='[ member ][ grid ]')
              
              h3(class='[ member__name ][ o--3 ]') Joseph Pinder
              p(class='[ member__role ][ font--small o--2 ]') General Manager
              +img('', '[ member__photo ][ ratio--1:1 o--1 mb--1 ]')
        

      section 
        div(class='[ x--wide ]')

          h2(class='[ font--1 ]') Press Releases 

      
      section(class='[ bg:color--black color--white ]')

        div(class='[ x--wide grid lg:x2  g--2 ]')

          div(class='[ py--5 ]')

            h2 Join our world class team

            p At XPS we value every employee because every employee is critical to our success. Let's connect!

            button(class='[ btn btn--solid--lg ]') Work with us


          +img('', '[ ratio--1:1 ]', 'A world class team')
      //- div(class='[ content ]')

      //-   p Titan Logistics is a leading provider of streamlined supply chain solutions in The Bahamas and the Caribbean. With our comprehensive range of services, including logistics management, warehousing, shipping, import/export, and brokerage, we are dedicated to helping businesses optimize their operations in this dynamic region.

      //-   p At Titan Logistics, we understand the unique challenges and opportunities that businesses face when operating in The Bahamas and the Caribbean. Our team of experts brings extensive industry knowledge and a deep understanding of the local market, enabling us to deliver tailored solutions that meet the specific needs of our clients.

      //-   p We take pride in our ability to streamline supply chain processes, enhance efficiency, and drive business growth. Whether you require end-to-end logistics management, secure and flexible warehousing solutions, reliable shipping services, seamless import/export facilitation, or efficient customs brokerage, we have the expertise and resources to support your operations.

      //-   p With our customer-centric approach, attention to detail, and commitment to delivering exceptional service, we aim to be your trusted partner in navigating the complexities of supply chain management in The Bahamas and the Caribbean. Contact us today to learn more about how Titan Logistics can help optimize your supply chain, enhance your operations, and drive your business forward.

